* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    box-sizing: border-box;
    font-size: 2vh;
}

oldal { display:none; }

/*  LOGIN  */
.fologo {  
	--position:absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
	margin-top:5%;
}
.login {
	display: block;
	margin-top:15%;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	text-align:left;
}
.login span{
	float:left;
	width:30vw;
	font-size: 3vh;
	height:5vh;
	padding-top:1vh;
	margin-right:3vw;
	overflow: auto;
}
.login input{
	height:5vh;
	width:41vw;
	font-size: 3vh;
	padding: 0 2vw;
}
.login img {
	height:5vh;
	margin-right:5vw;
	float:left;
}
.login button{
	font-size:4vh;
	margin-left:40vw;
	width:30vw;
}

/* FEJLÉC */
header {
    position:absolute;
    left:0%;
    top:0%;
    height:8%;
    width:100%;
    color:#BCCE08;
    background: #2D2045;
}
header.design {
	box-shadow: 0px 10px 0px #93C016;
}
header img{  
	height:80%;
	margin:1%;
}
header h1 {
	position:absolute;
	top: 50%;
    left: 50%;
    width: 75%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size:4vh;
    font-weight:normal;
    margin-top:0;
    overflow:visible;
    text-align:center;
    line-height:4vh;
}

/* LÁBLÉC */
footer {
	position : absolute;
	left:0%;
    bottom:0%;
    height:8%;
    width:100%;
    background: #2D2045;
    padding: 1%;
}
footer img.logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
footer img{  
	height:95%;
	margin:1%;
}
footer img.gomb {
	display:block;
	float:left;
	height:75%;
	margin: 1% 3%;
}

/* ASZTAL */
main {
	position:absolute;
	left:0%;
    top:8%;
    height:84%;
    width:100%;
    --background: white;
    padding: 1%;
}
main button.nagy {
	position:relative;
	width: 80%;
	height:15%;
	border-radius: 2vh;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #2D2045 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #2D2045 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #2D2045 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #4D4065),
        color-stop(0.51, #4D4065)
    );
    background-attachment:fixed;
	border: 2px solid black;
	padding:4%;
	margin-left: 7%;
	margin-top: 4%;
 }
main button img{
	float:left;
	height:10vh;
	margin-top:-2vh;
}
main button span{
	float:left;
	font-size:5.5vw;
	margin-top:0.8rem;
	margin-left:6%;
	color:#93C016;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-variant: small-caps;
	letter-spacing:.1em;
	text-shadow: 0 0 5vh #dfdfdf;
}
.ugyfel_kivalasztva{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80vw;
	--text-align:center;
	font-size: 3vh;
	line-height: 4vh;
	margin-top:5vh;
}
.ugyfel_kivalasztva span{
	float:left;
}
.ugyfel_kivalasztva div{
	display:table;
	margin-left:22vw;
	font-variant: initial;
}
ul { position:relative;display:block;
	margin-left:auto;
	margin-right:auto;width:90vw; }
ul li {
	--height:10vh;
	
	border:0.7vh solid #505050;
	border-radius: 1vh;
	margin: 2vh;
	font-size:3vh;
	line-height:4vh;
}
li ol{
	float:left;
	width:15%;
	color:#E4E4E4;
	padding-top:3vh;
	font-size:4vh;
	text-align:center;
	background: #3478af;
	height:100%;
	padding-bottom:3vh;
}
li div{
	padding:2vh;
	display:table;
	margin-left:10vw;
}

.foto {
	width:90%;
	border: 2px solid #111111;
	margin: 3vh 0;
}
.bejegyzes_cim{
	margin-top: 2vh;
}
.txtarea {
	width:90%;
	height: 25vh;
	border: 2px solid #111111;
	margin: 0 0 1vh 0;
	font: 2.5vh/3vh Verdana;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



